@font-face {
	font-family: UbuntuFont;
	src: url(https://fonts.google.com/specimen/Ubuntu);
}
@font-face {
	font-family: LobsterFont;
	src: url(https://fonts.google.com/specimen/Lobster);
}
#headerSection > h1 {
	font-family: UbuntuFont;
	font-weight: bold;
	font-size: 28px;
	font-style: italic;
}
#headerSection > p {
	font-family: UbuntuFont;
	font-weight: bold;
	font-size: 20px;
	font-style: italic;
	float: left;
}
.studentIcon {
	width: 75px;
	height: 75px;
	float: left;
}
.bengaluru {
	flex: 33.33%;
	height: 300px;
	width: 420px;
	object-fit: cover;
	padding: 10px 10px;
}
.aboutBengaluru {
	box-sizing: border-box;
	background-color: lightslategray;
	color: white;
	padding: 20px;
	border: 10px solid deepskyblue;
	font-size: 20px;
	padding: 10px 10px;
	font-family: Arial;
	font-style: italic;
	font-weight: bold;
	margin-left: 8px;
	margin-right: 16px;
	margin-bottom: 10px;
}
.aboutBengaluru > a:link, a:visited {
	background-color: green;
	color: white;
	padding: 10px 10px;
	text-align: center;
	font-size: 20px;
	font-family: Helvetica;
	font-weight: bold;
	float: right;
}
.aboutBengaluru > a:hover, a:active {
	background-color: red;
}
.clearFloat {
	overflow: hidden;
}
p {
	font-family: Calibri;
	font-size: 16px;
	font-style: italic;
}
#bordersection > img {
	width: 160px;
	height: 180px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#bordersection > h2 {
	text-align: center;
}
#bordersection {
	border-top: 10px solid darkcyan;
	border-bottom: 10px solid darkcyan;
	border-left: 10px solid darkcyan;
	border-right: 10px solid darkcyan;
	border-radius: 10px;
	margin-right: 20px;
}
#bordersection > p,a {
	padding-left: 10px;
	padding-right: 5px;
}
#bordersection a > img {
	width: 100px;
	height: 100px;
}
.aboutMe {
	text-align: justify;
	padding-left: 5px;
	padding-right: 15px;
}
.middlesection > div > h3 {
	padding-left: 5px;
}
#aboutAuthorSection > p {
	text-indent: 10px;
	color: black;
}
ul.nav {
	margin: 0;
	padding-right: 15px;
	overflow: hidden;
}
li.topNavigationBars {
	float: right;
	display: inline;
	list-style-type: none;
	background-color: black;
}
li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 20px 20px;
	text-decoration: none;
	font-size: 18px;
}
.nav a:hover {
	background-color: red;
	color: white;
}
#indexPage {
	background-color: lightgoldenrodyellow;
	opacity: 1.0;
}
#resumePage {
	background: #ff9900;
	opacity: 1.0;
	margin: 20px;
}
#contactPage {
	background-color: #6666ff;
	opacity: 1.0;
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding-right: 20px;
	text-align: center;
	font-family: Calibri;
	font-size: 18px;
}
div.pagefooter {
	display: grid;
	grid-template-columns: 450px auto auto;
	grid-template-rows: auto auto;
	word-break: break-word;
}
.image1andimage3 {
	width: 150px;
	height: 180px;
}
.image2 {
	width: 100px;
	height: 180px;
}
.image4 {
	width: 250px;
	height: 180px;
}

/**** For Large Devices ****/

@media (min-width: 1200px) {
	div.middlesection {
		display: grid;
		grid-template-columns: 800px auto auto;
		grid-template-rows: auto auto auto;
	}
}

/**** For Small Devices ****/

@media (max-width: 991px) {
	div.middlesection, #headerSection, div.pagefooter, .career, .skills, .overview, #extracurricularActivities, #majorProjectWorks, #internshipExperiences {
		display: grid;
		grid-template-columns: 750px;
		grid-template-rows: auto;
		text-align: justify;
	}
	.bengaluru, .aboutBengaluru {
		flex: 100%;
		max-width: 100%;
	}
}

/**** For Medium Devices ****/

@media (min-width: 992px) and (max-width: 1199px) {
	div.middlesection, div.pagefooter {
		display: grid;
		grid-template-columns: 700px auto;
		grid-template-rows: auto auto;
	}
	.bengaluru, .aboutBengaluru {
		flex: 100%;
		max-width: 100%;
	}
}
#majorProjectWorks {
	text-align: justify;
}
#internshipExperiences {
	list-style-type: square;
}
.career > p {
	text-align: justify;
	font-family: Calibri;
	font-size: 18px;
}
label {
	display: inline-block;
	padding: 15px 15px 15px 15px;
	font-family: Calibri;
	font-size: 20px;
	font-weight: bold;
}
.extracurricular {
	text-align: justify;
}
#internshipExperiences > li, #majorProjectWorks > li, #extracurricularActivities > li, .skills > li, .overview > p {
	font-family: Calibri;
	font-size: 18px;
}
#bordersection > p:nth-of-type(2), #bordersection > p {
	font-family: Arial;
	font-weight: bolder;
	font-size: 18px;
}
input[type=text], input[type=email] {
	size: 50;
	text-align: center;
}
input[type=phoneno] {
	size: 20;
	text-align: center;
}
input[type=textarea] {
	width: 500px;
	height: 200px;
	text-align: center;
}
input[type=submit] {
	width: 100px;
	height: 60px;
	text-align: center;
	background-color: red;
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
}
.pagefooter > div > h4 {
	text-align: center;
}